.contentful__jumbotron__titleSection {
  min-height: 90vh;

  @media screen and (min-width: 959px) {
    align-items: center;
  }
  
  @media screen and (max-width: 960px) {
    flex-direction: column-reverse;
    div {
      margin-right: 0;
    }
  }
}

.contentful__jumbotron__cover {
  max-width: 100%;
}

.contentful__jumbotron__metaSection {
  margin: 0 0 4em 0;
}

.contentful__jumbotron__teamlist {
  margin: 0;
  padding: 0;
  list-style: none;
}