.jumbotron__titleSection {
  align-items: center;
}

.jumbotron__coverImage {
  margin-top: 4em;
  margin-bottom: 4em;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0 2px 8px -2px rgba(0,0,0,0.25);
}

.jumbotron__metaSection {
  margin: 0 0 4em 0;
}

.jumbotron__teamlist {
  margin: 0;
  padding: 0;
  list-style: none;
}