// breakpoints
$breakpoint-maxSm: 540px;
$breakpoint-minMed: 541px;
$breakpoint-maxMed: 768px;
$breakpoint-minLg: 769px;
$breakpoint-maxLg: 1280px;
$breakpoint-minXl: 1281px;

@mixin sm() {
  @media (max-width: $breakpoint-maxSm) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $breakpoint-minMed) and (max-width: $breakpoint-maxMed) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $breakpoint-minLg) and (max-width: $breakpoint-maxLg) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $breakpoint-minXl) {
    @content;
  }
}

$fontsize-big: 20px;
$fontsize-small: 16px;
$lineheight: 1.6em;
$scalefactor: 1.5;

html, body {
  margin: 0;
  padding: 0;

  @include sm() {
    font-size: $fontsize-big;
  }
  @include md() {
    font-size: $fontsize-big;
  }
  @include lg() {
    font-size: $fontsize-small;
  }
  @include xl() {
    font-size: $fontsize-small;
  }

  line-height: 29px;
}

body {
  font-family: 'Open Sans';
  font-size: 1em;
  line-height: $lineheight;
}

h1, h2, h3, h4, h5, h6 p, pre, table, blockquote {
  line-height: $lineheight;
  margin: 0;
  padding: 0;
}

// typography
h1 {
  font-size: 1em * $scalefactor * $scalefactor * $scalefactor;
  line-height: $lineheight;

  @include sm() {
    font-size: 1em * $scalefactor * $scalefactor;
  }
}

h2 {
  font-size: 1em * $scalefactor * $scalefactor;

  @include sm() {
    font-size: 1em * $scalefactor;
  }
}

h3 {
  font-size: 1em * $scalefactor;

  @include sm() {
    font-size: 1em;
  }
}

h4 {
  font-size: 1em;
}

p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  line-height: $lineheight;
}

.needed_more_space {
  box-sizing: border-box;

  @include sm() {
    padding-top: 2em;
  }

  @include md() {
    padding-top: 2em;
  }

  @include lg() {
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @include xl() {
    padding-left: 2em;
    padding-right: 2em;
  }
}

footer {
  width: 100%;
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
}