.gridCard {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0 2px 8px -2px rgba(0,0,0,0.25);
}

.gridCard__inner {
  width: inherit;
  height: inherit;
}

.gridCard:hover {
  transform: scale(1);
}

.gridCard__info {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  padding: 1em;
  background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 80%);
}

.gridCard__image {
  width: inherit;
  height: inherit;
}