.gridCard {
  width: 100%;
  height: 480px;
  position: relative;
}

.gridCard__inner {
  width: inherit;
  height: inherit;
  background-color: lightblue;
}

.gridCard:hover {
  transform: scale(1);
}

.gridCard__info {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  text-align: center;
}