
.header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__branding {
  color: black;
  text-decoration: none;
  z-index: 99;
}